<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cyber Soft</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" Match="NavLinkMatch.All" class="nav-link active" href="/"
                    aria-current="page">Home
                    <span class="visually-hidden">(current)</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/login">Login</NavLink>
            </li>
            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/register">Register</NavLink>
            </li>
            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/contact">Contact</NavLink>
            </li>
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">DataBinding</NavLink>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/data-binding">one-way-binding</NavLink>
                    <NavLink class="dropdown-item" href="/event-binding">event-binding</NavLink>
                    <NavLink class="dropdown-item" href="/tow-way-binding">tow-way-binding</NavLink>
                    <NavLink class="dropdown-item" href="/customer">Customer</NavLink>
                    <NavLink class="dropdown-item" href="/CourseRegistrationForm">CourseRegistrationForm</NavLink>

                </div>
            </li>
            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">component param</NavLink>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/demo-param-children">demo param children</NavLink>
                    <NavLink class="dropdown-item" href="/componetnt-param">componetnt-param</NavLink>

                </div>
            </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
            <input class="form-control me-sm-2" type="text" placeholder="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
</nav>
