@page "/Education"
@layout MainLayout
<link rel="stylesheet" href="/css/Education.css" />
<div class="container-fluid d-flex flex-column justify-content-center  vh-100">
    <section class="p-4">
        <h2 class="text-uppercase fw-bold mb-4">Education</h2>

        <!-- School 1 -->
        <div class="mb-5">
            <div class="flex-wrap">
                <div>
                    <h5 class="text-uppercase fw-bold mb-1">University of Colorado Boulder</h5>
                    <p class="text-uppercase fw-semibold text-muted mb-2">Bachelor of Science</p>
                    <p class="text-muted mb-1">Computer Science - Web Development Track</p>
                    <p class="text-muted mb-0">GPA: 3.23</p>
                </div>
                <span class="text-danger small">August 2006 – May 2010</span>
            </div>
        </div>

        <!-- School 2 -->
        <div>
            <div class="flex-wrap">
                <div>
                    <h5 class="text-uppercase fw-bold mb-1">James Buchanan High School</h5>
                    <p class="text-uppercase fw-semibold text-muted mb-2">Technology Magnet Program</p>
                    <p class="text-muted mb-0">GPA: 3.56</p>
                </div>
                <span class="text-danger small">August 2002 – May 2006</span>
            </div>
        </div>
    </section>
</div>
